.current-details-flex {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 40px;
}

.enter-a-city-form {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.enter-a-city-input {
  width: 40%;
  border-radius: 20px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  border: transparent;
}

.enter-a-city-search {
  padding: 10px;
  border-radius: 20px;
  background-color: #607b97;
  color: #eef2f4;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border: transparent;
  width: 80px;
}
.enter-a-city-search:hover {
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  transition: all 150ms ease-in-out;
}

.footer-links {
  text-align: center;
}

.container {
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 20px;
  width: 60%;
  display: block;
  margin: 0 auto;
  box-shadow: 5px 5px 5px solid #000000;
}

.search-results {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.search-results-city {
  font-weight: 600;
  font-size: 40px;
  margin: 5px 5px 5px 5px;
  padding-top: 20px;
}

.search-results-temperature {
  font-size: 45px;
  font-weight: 500;
  position: relative;
  top: 20px;
}
.search-results-units {
  font-size: 24px;
  position: relative;
  top: 10px;
  font-weight: 500;
  padding-left: 5px;
}

.search-results-icon {
  font-size: 40px;
  position: relative;
  top: 20px;
}

body {
  background: radial-gradient(
    circle at 50.3% 44.5%,
    rgb(116, 147, 179) 0%,
    rgb(62, 83, 104) 100.2%
  );
  font-family: 'Roboto', sans-serif;
}
